/Guia2/nbproject/private/
/Guia2/build/
/Roloj/nbproject/private/
/Roloj/build/
/Guia3/nbproject/private/
/Guia3/build/
/JavaLibrary1/nbproject/private/
/JavaLibrary2/nbproject/private/
/Guia4/nbproject/private/
/Guia5/nbproject/private/
/Guia6/nbproject/private/
/JavaApplication14/nbproject/private/
/Guia8/nbproject/private/
/Guia9/nbproject/private/
/Guia9/build/
/Guia4/build/